* {
    box-sizing: border-box;
}

p {
    font-size: 1rem;
    font-style: italic;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:rgba(45, 145, 32, 0.856);
    line-height:1.5rem;

}

ul {
    font-size: 1rem;
    font-style: normal;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: blue;

}

h1 {
    color: darkred;
    font-style: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}



h2 {
    color: blueviolet;
    font-weight: bolder;
}


.text {
    font-weight: 900;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

ul>li:nth-child(2n+1) {
    background-color: yellowgreen;
    color: gold;
}

.link {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.link a:visited {
    color: red;
}

.mail a:visited {
    color: red;
}

.mail {
    color: darkred;
    font-weight: bolder;
}

header a:active {
    color: deeppink;
}

header {
    color: darkgreen;
}
