/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/*
 BARVY
 czechitas  #b92e81
 pozadi     #bdc3c7
 tmava      #31363b
 delitka    #3f464d
 portfolio  #e74c3c
 facebook   #3b5998
 twitter    #1da1f2
*/


body {
    background-color: #bdc3c7;
}

.profil {
    width: 250px;
    background-color: #31363b;
    color: #bdc3c7;
    box-shadow: black 4px 6px 10px;
}

.hlavicka {
    position: relative;
}

.hlavicka .foto {
    width: 100%;
}

.hlavicka .logo {
    position:absolute;
    background-color: #b92e81;
    border-radius: 40px;
    right: 25px;
    bottom: -25px;
}

.obsah {    
    padding: 1rem;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 0.9rem;
}

.obsah .jmeno {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 1.5rem;
}

.odkazy {
    display:flex;
    flex-wrap:wrap;
    list-style:none;
    margin:0;
    padding:0; 
}

    
.odkazy a {
    font-family: Montserrat, sans-serif;
    color:#bdc3c7;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid #3f464d;
    padding: 1rem;
    text-decoration: none;
}

.portfolio {
    width: 100%;
    }

.facebook, .twitter {
   width:50%;
}

.portfolio:hover {
    background-color: #e74c3c;
}

.facebook :hover {
    background-color:#3b5998;

}

.twitter :hover {
    background-color: #1da1f2;
}